/*-----------------------------management.js--------------------------------*/
#panCont{
 background-color: white;
 width: 100%;
 display: flex;
 justify-content: center;
}
#wrap{
 background-color: white;
 width: 90%;
 height: 250px;
 /* padding-top: 20px; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 15px;
}
#container1{
 width: 90%;
 height: 100px;
 gap: 25px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
#container2{
  width: 90%;
  height: 100px;
  gap: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#element{
 background-color: white;
 width: 40%;
 height: 70px;
 display: flex;
 flex-direction: column;
 align-items: center;
 /* justify-content: center; */
 gap: 8px;
 padding-top: 10px;
}
#element:hover{
  background-color: whitesmoke;
}
