/*-------------------------------members.js----------------------------------*/
.wrapper{
 background-color: white;
 width: 100%;
 height: 479px;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 10px;
 gap: 10px;
}



#add-wrap{
 background-color: white;
 width: 95%;
 height: 50px;
 display: flex;
 align-items: center;
 justify-content: end;
 padding-right: 10px;
}
#add-but{
 width: 100%;
 border-radius: 6px;
 height: 30px;
 margin-left: 3px;
 color: white;
 background: rgb(10, 10, 233);
}
#add-but:hover {
 background: rgb(69, 69, 191);
 cursor: pointer;
}
#membertable{
 background-color: white;
 width: 98%;
 height: 500px;
}

/*--------------------------------------------regMember.js-----------------------------------*/


/*------------------------------------------popups.js-----------------------------------------*/
#dialog{
 width: 100%;
 height: 600px;
 display: flex;
 flex-direction: column;
 align-items: center;
}
#wraps{
 background-color: white;
 display: flex;
 flex-direction: column;
 width: 100%;
 height: 550px;
 align-items: center;
 justify-content: start;
 gap: 10px;
}
#dial{
 
 width: 92%;
 height: 550px;
 display: flex;
 flex-direction: column;
}
#reg_butdiv{
 display: flex;
 justify-content: center;
 width: 95%;
 height: 80px;
}
#reg_but{
 width: 100%;
  border-radius: 6px;
  height: 40px;
  font-weight: bolder;
  font-size: 16px;
  color: white;
  background: rgb(10, 10, 233);
}
#reg_but:hover{
 background: rgb(69, 69, 191);
 cursor: pointer;
}