#area{
 background-color: white;
 width: 100%;
 height: 450px;
}

#TextArea-wrapper{
 background-color: white;
 width: 100%;
 height: 450px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 
}

#text{
width: 95%;
height: 300px;
}
#edit{
 width: 90%;
 height: 40px;
 display: flex;
 justify-content: end;
 align-items: center;
 padding-right: 10px;

}
#field{
 background-color: white;
 width: 100%;
 height: 100px;
}
#save{
 
 display: flex;
 justify-content: center;
 height: 30px;
}
#save-but{
width: 100%;
 border-radius: 6px;
 width: 100px;
 height: 40px;
 margin-left: 3px;
 font-weight: bolder;
 font-size: 16px;
 color: white;
 background: rgb(10, 10, 233);
}
#save-but:hover{
 background: rgb(69, 69, 191);
 cursor: pointer;
}
#regu{
 background-color: white;
 display: flex;
 flex-direction: column;
 grid-area: 15px;
 width: 100%;
 height: 400px;
 padding-left: 15px;
}

#head{
 display: flex;
 justify-content: center;
 padding-top: 10px;
 width: 100%;
 height: 30px;
 font-size: 18;
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
}
#span{
 display: flex;
 gap: 20px;
}