#header{
 background-color: whitesmoke;
 width: 100%;
 height: 120px;
 padding-top: 20px;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}
#avt{
 background: red;
   width: 50px;
    height: 50px;
    border-radius: 50%;
}