#mainGroup{
 background-color: white snow;
 width: 100%;
 padding-top: 8px;
 display: flex;
 margin: auto;
 align-items: center;
 flex-direction: column;
}
#container-group{
 width: 100%;
 height: 410px;
 border-radius: 10px;
}
#card{
 width: 90%;
 height: 300px;
 background-color: white snow;
 display: flex;
 flex-direction: column;
 margin: auto;
 align-items: center;
 
}
#text{
 width: 85%;
 background-color: white snow;
 display: flex;
 flex-direction: column;
 margin: auto;
 align-items: center;
}
#opt{
 width: 100%;
}
#butdiv{
 background-color: white snow;
 height: 100px;
 padding-top: 20px;
 padding-right: 6px;
 width: 90%;
 display: flex;
 flex-direction: column;
 margin: auto;
 align-items: center;
}
#butreg{
 width: 100%;
 border-radius: 6px;
 height: 40px;
 margin-left: 3px;
 font-weight: bolder;
 font-size: 16px;
 color: white;
 background: rgb(10, 10, 233);
}
#butreg:hover {
 background: rgb(69, 69, 191);
 cursor: pointer;
}


/* for desktop ''''''''''''''''''''''''''''''''''''''*/



/* end for desktop */

