#container{
 background-color: white;
 display: flex;
 justify-content: center;
 width: 100%;
 height: 600px;
 display: flex;
 align-items: center;
}

#wrap-div{
 /* background-color: yellow; */
 width: 97%;
 height: 580px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 8px;
}
#windowBut-div{
 width: 100%;
 height: 50px;
 display: flex;
 justify-content: end;
 align-items: center;
}
#div{
 width: 100%;
 display: flex;
 justify-content: end;
 padding-right: 10px;
}
#window-but{
 width: 100%;
 border-radius: 6px;
 height: 35px;
 /* font-weight: bold; */
 font-size: 16px;
 color: white;
 background: rgb(10, 10, 233);
}
#window-but:hover{
 background: rgb(69, 69, 191);
 cursor: pointer;
}

/*--------------------------------------------window.js--------------------------------------*/
#wincont{
 /* background-color: red; */
 width: 100%;
 height: 550px;
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 align-items: center;
}
#cont1{
 /* background-color: green; */
 width: 100%;
 height: 40px;
 display: flex;
 flex-direction: row;
}
#addwrap{
 /* background-color: red; */
 width: 100%;
 height: 30px;
 display: flex;
 flex-direction: row;
}
#wind_butdiv{
 display: flex;
 justify-content: center;
}
#wind_but{
 width: 50%;
 border-radius: 6px;
 height: 35px;
 font-size: 16px;
 color: white;
 background: rgb(10, 10, 233);
}
#tabletitle{
 width: 340%;
 height: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: bold;
}