#container{
 background-color: white;
 display: flex;
 justify-content: center;
 width: 100%;
 height: 600px;
 display: flex;
 align-items: center;
}

#wrap-div{
 /* background-color: yellow; */
 width: 97%;
 height: 580px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 8px;
}
#windowBut-div{
 width: 100%;
 height: 50px;
 display: flex;
 justify-content: end;
 align-items: center;
}
#div{
 width: 100%;
 display: flex;
 justify-content: end;
 padding-right: 10px;
}
#window-but{
 width: 100%;
 border-radius: 6px;
 height: 35px;
 /* font-weight: bold; */
 font-size: 16px;
 color: white;
 background: rgb(10, 10, 233);
}
#window-but:hover{
 background: rgb(69, 69, 191);
 cursor: pointer;
}

/*--------------------------------------------window.js--------------------------------------*/
#wincont{
 /* background-color: white; */
 width: 100%;
 height: 700px;
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 align-items: center;
 gap: 50px;
}
#cont1{
 /* background-color: green; */
 width: 100%;
 height: 60px;
 display: flex;
 flex-direction: row;
 gap: 20px;
 
}
#startdate{
 /* background-color: aqua; */
 width: 50%;
 height: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
}
#amount{
 /* background-color: brown; */
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cont2{
 /* background-color: gray; */
 width: 100%;
 height: 60px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 10px;
}
#windopt{
 /* background-color: aqua; */
 width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#receive{
 /* background-color: orange; */
 width: 50%;
 height: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
}
#cont3{
 background-color: aqua;
 width: 100%;
 height: 60px;
 display: flex;
 flex-direction: row;
 gap: 10px;
justify-content: end;
align-items: center;
}
#custom{
 background-color: gray;
 width: 70%;
 height: 50px;
 display: flex;
 align-items: center;
 justify-content: start;
}
#windselect2{
  background-color: green;
}
#receiveamount{
 background-color: brown;
  width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}
#newaddwind{
 background-color: white;
}
#windowsbut{
 width: 100%;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
}
#wind_but{
 width: 95%;
 border-radius: 6px;
 height: 35px;
 font-size: 16px;
 color: white;
 background: rgb(10, 10, 233);
}
#tabletitle{
 width: 340%;
 height: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: bold;
}