#container{
    background-color: #fafafa;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 80px;
}
#home-card{
    background-color: #fafafa;
    width: 24%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding-top: 50px;
}
#home{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 85%;
    gap: 15px;
}
#forgotPass{
    display: flex;
    justify-content: flex-end;    
    width: 85%;
    height: 20px;
}
#butlog-div{
    height: 30px;
    width: 85%;
}
#but-log{
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color:#2575a7 !important;
    border-radius: 4px;
    border-color: #2575a7 !important;
}
#but-log:hover{
    cursor: pointer;
}