body{
 /*background-color: blue;*/
 justify-content: center;
}
#main{
  background-color: white snow;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  padding-top: 2px;
}
#container-mobile{
 /*background-color: red;*/
 height: 300px;
 width: 98%;
 padding-top: 10px;
 display: flex;
 flex-direction: column;
 margin: auto;
 align-items: center;
 justify-content: center;
 border-radius: 10px;
 /*padding-left: 500px;*/ 
}

#form{
 background-color: whitesmoke;
 display: flex;
 justify-content: center;
 width: 300px;
 height: 260px;
 border-radius: 6px;
 
}
#field{
display: flex;
flex-direction: column;
justify-content: center;
width:85%;
gap: 15px;
background-color: yellow;
}
#wrapper{
  /*background-color: yellow;*/
  width: 95%;
  height: 150px;
  gap: 20px;
}
#user,#pass{
 width: 100%;
 height: 32px;
 background: white snow;
 border-radius: 6px;
}
#logbutton{
 display: flex;
 flex-direction: row;
 
}
#links{
 display: flex;
 flex-direction: column;
 justify-content: start;
 gap: 10px;
}
#wrap{
  /*background-color: green;*/
  width: 75%;
  padding-right: 6px;
}

#butlog{
 width: 100%;
  border-radius: 6px;
  height: 40px;
  margin-left: 3px;
  font-weight: bolder;
  color: white;
  background: rgb(10, 10, 233);
}

#butlog:hover {
 background: rgb(69, 69, 191);
 cursor: pointer;
}