#class-container{
    background-color: #fafafa;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 80px; 
}
#title{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
#card-div{
    background-color: #ededed;
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

#class-card{
    background-color: white;
    width: 20%;
    height: 190px;
    gap: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#class-card:hover{
    cursor: pointer;
    background-color: #e8e8e8;
}
#avt{
    width: 100px;
    height: 100px;
}