#Main-member{
 background-color: white snow;
 width: 100%;
 height: 400px;
}
#vicobamember {
 display: flex;
 flex-direction: column;
 align-items: center;
}
#card-member {
 background-color: white snow;
 display: flex;
 flex-direction: column;
 height: 390px;
 border-radius: 10px;
 gap: 60px;
 align-items: center;
 border-radius: 10px;
}
#container-member{
 display: flex;
 flex-direction: column;
 height: 200px;
 background-color: white snow;
 width: 90%;
 gap: 4px;
 align-items: center;
}
#MemberOpt{
 width: 100%;
}
#butdiv-member{
 background-color: white snow;
 width: 90%;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-right: 4px;
}
#butreg-member {
 width: 100%;
 border-radius: 6px;
 height: 40px;
 margin-left: 3px;
 font-weight: bolder;
 font-size: 16px;
 color: white;
 background: rgb(10, 10, 233);
}

#butreg-member:hover {
 background: rgb(69, 69, 191);
 cursor: pointer;
}

/*-----------------------------------------Dashboard.js--------------------------------------------*/
#card1{
 background-color: whitesmoke;
 display: flex;
 flex-direction: row;
 width: 100%;
 height: 100px;
 /* background-color: aqua; */
 display: flex;
 flex-direction: column;
}
#wrap1{
  display: flex;
  flex-direction: row;
}
#logo{
 background-color: whitesmoke;
 width: 50%;
 height: 40px;
 padding-top: 7px;
 padding-left: 10px;
}
#avata{
  width: 30px;
  height: 30px;
  border-radius: 30%;
}
#icon{
 width: 50%;
 height: 40px;
 color: black;
 display: flex;
 justify-content: end;
 padding-top: 7px;
 padding-right: 10px;
}
#wrap2{
  display: flex;
  flex-direction: row;
  
}
#names{
 background-color: white;
 width: 50%;
 height: 50px;
 display: flex;
 flex-direction: column;
 padding-left: 10px;
 padding-top: 10px;
}
#settings{
  background-color: white;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: end;
  padding-right: 10px;
  padding-top: 10px;
}
#card2{
  width: 100%;
  height: 50px;
}
#spans{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  
}
#span1{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 10px;
}
#debts{
  font-size: 18;
  font-weight: bold;
  /* color: rgb(175, 172, 172); */
}
#span2{
width: 33%;
display: flex;
flex-direction: column;
align-items: center;
background-color: white;
gap: 10px;
}
#next{
  font-size: 18;
  font-weight: bold;
  /*color: "#AFACAC"*/
  
}
#span3{
width: 33%;
display: flex;
flex-direction: column;
align-items: center;
background-color: white;
gap: 10px;
}
#contri{
  font-size: 18;
  font-weight: bold;
}
#card3{
  background-color: white;
  width: 100%;
  height: 50px;
 

}
#wrap-but{
display: flex;
flex-direction: row;
background-color: white;
width: 100%;
height: 40px;
padding-top: 10px;

}

#but1{
  width: 50%;
  height: 40px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
}
#but2{
  width: 50%;
  height: 40px;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}

#admin-But{
  width: 90%;
  border-radius: 6px;
  height: 30px;
  margin-left: 3px;
  /* font-weight: bold; */
  color: white;
  background: rgb(10, 10, 233);
}
#admin-But:hover {
  background: rgb(69, 69, 191);
  cursor: pointer;
}