#container{
 background-color: white;
 display: flex;
 justify-content: center;
 width: 100%;
 height: 600px;
 display: flex;
 align-items: center;
}

#wrap-div{
 /* background-color: yellow; */
 width: 97%;
 height: 580px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 8px;
}
#windowBut-div{
 background-color: red;
 width: 100%;
 height: 50px;
 display: flex;
 justify-content: end;
 align-items: center;
}
#div{
 width: 100%;
 display: flex;
 justify-content: end;
 padding-right: 10px;
}
#window-but{
 width: 50%;
 border-radius: 6px;
 height: 35px;
 /* font-weight: bold; */
 font-size: 16px;
 color: white;
 background: rgb(10, 10, 233);
}
#window-but:hover{
 background: rgb(69, 69, 191);
 cursor: pointer;
}

/*--------------------------------------------window.js--------------------------------------*/
contain{
 /* background-color: green; */
 width: 100%;
 height: 500px;
}
#window-wraper{
 background-color: orange;
 width: 100%;
 height: 500px;
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 align-items: center;
}