/*-------------------------------members.js----------------------------------*/
.wrapper{
 background-color: white;
 width: 100%;
 height: 479px;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 10px;
 gap: 10px;
}



#add-wrap{
 background-color: white;
 width: 95%;
 height: 50px;
 display: flex;
 align-items: center;
 justify-content: end;
 padding-right: 10px;
}
#add-but{
 width: 100%;
 border-radius: 6px;
 height: 30px;
 margin-left: 3px;
  /* font-weight: bold; */
 color: white;
 background: rgb(10, 10, 233);
}
#add-but:hover {
 background: rgb(69, 69, 191);
 cursor: pointer;
}
#membertable{
 background-color: white;
 width: 98%;
 height: 500px;
}

/*--------------------------------------------regMember.js-----------------------------------*/
#Main-member {
 background-color: white snow;
 width: 100%;
 height: 400px;
}

#vicobamember {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#card-member {
 background-color: white snow;
 display: flex;
 flex-direction: column;
 height: 390px;
 border-radius: 10px;
 gap: 60px;
 align-items: center;
 border-radius: 10px;
}

#container-member {
 display: flex;
 flex-direction: column;
 height: 200px;
 background-color: white snow;
 width: 90%;
 gap: 4px;
 align-items: center;
}

#MemberOpt {
 width: 100%;
}

#butdiv-member {
 background-color: white snow;
 width: 90%;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-right: 4px;
}

#butreg-member {
 width: 100%;
 border-radius: 6px;
 height: 40px;
 margin-left: 3px;
 font-weight: bolder;
 font-size: 16px;
 color: white;
 background: rgb(10, 10, 233);
}

#butreg-member:hover {
 background: rgb(69, 69, 191);
 cursor: pointer;
}

/*------------------------------------------popups.js-----------------------------------------*/
#dialog{
 width: 100%;
 height: 600px;
 display: flex;
 flex-direction: column;
 align-items: center;
}
#wraps{
 background-color: white;
 display: flex;
 flex-direction: column;
 width: 100%;
 height: 500px;
 align-items: center;
 gap: 10px;
}
#dial{
 
 width: 80%;
 height: 490px;
 display: flex;
 flex-direction: column;
}
#reg_butdiv{
 display: flex;
 justify-content: center;
 width: 90%;
 height: 80px;
}
#reg_but{
 width: 70%;
  border-radius: 6px;
  height: 40px;
  /* margin-left: 3px; */
  font-weight: bolder;
  font-size: 16px;
  color: white;
  background: rgb(10, 10, 233);
}
#reg_but:hover{
 background: rgb(69, 69, 191);
 cursor: pointer;
}